Pods/*
Pods/Target\ Support\ Files/*
Podfile.lock
AudioKit.framework/*
AudioKitUI.framework/*
Rewinder.xcworkspace/xcuserdata/
.DS_Store
*.xcuserdatad
/build/
*.xccheckout
Rewinder.xcodeproj/project.pbxproj